.mt {
  margin-top: .1rem;
}
.mb {
  margin-bottom: .1rem;
}
.mr {
  margin-right: .1rem;
}
.ml {
  margin-left: .1rem;
}
.pt {
  padding-top: .1rem;
}
.pb {
  padding-bottom: .1rem;
}
.pl {
  padding-left: .1rem;
}
.pr {
  padding-right: .1rem;
}