.mt {
  margin-top: .1rem;
}
.mb {
  margin-bottom: .1rem;
}
.mr {
  margin-right: .1rem;
}
.ml {
  margin-left: .1rem;
}
.pt {
  padding-top: .1rem;
}
.pb {
  padding-bottom: .1rem;
}
.pl {
  padding-left: .1rem;
}
.pr {
  padding-right: .1rem;
}

.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
  will-change: transform;
  transition: all 200ms;
  position: absolute;
}
.slide-right-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}
.slide-right-leave-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.slide-left-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.slide-left-leave-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}